OTA_SERVER_URL=http://localhost:8080
OTA_ERROR_REPORT_URL=
OTA_MONITOR_INGEST_URL=http://localhost:4000/ingest

MQTT_BROKER_HOST=129.159.241.110
MQTT_BROKER_PORT=1883
MQTT_QOS=2
MQTT_USERNAME=
MQTT_PASSWORD=

OTA_MODE=mqtt
VEHICLE_ID=vehicle_001
VEHICLE_BRAND=Volkswagen
VEHICLE_SERIES=ID.5
VEHICLE_SEGMENT=SUV
VEHICLE_FUEL=EV
INSTALL_MODE=file_copy
LOG_LEVEL=INFO

OTA_REGION_COUNTRY=DE
OTA_REGION_CITY=Berlin
OTA_REGION_TIMEZONE=Europe/Berlin
OTA_POWER_SOURCE=BATTERY
OTA_BATTERY_PCT=62
OTA_NETWORK_RSSI_DBM=-78
OTA_NETWORK_LATENCY_MS=320
