[Unit]
Description=Bring up can0 (500k)
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip link set can0 type can bitrate 500000
ExecStart=/sbin/ip link set up can0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
